<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<br>
<head>
	<title>MY BLOG ABOUT TRAVELING</title>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	<link rel="stylesheet" 
		  href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>

<div class="topnav">
	<a href="http://www.google.com/">HOME</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="http://www.google.com/">ABOUT ME</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="http://www.google.com/">TRAVEL</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="http://www.google.com/">CONTACT</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="http://www.google.com/">VISAS</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<a href="#">ABOUT US</a>
	<hr>
</div>

<div class="header">
	<h1>HELLO! &ensp;<span th:text="${username}"></span>'s &ensp;BLOG</h1>
	<h5>A person on the road, open heart, single travel is a thorough deep breath in the mind.</h5>
</div>

<div>
	<img src="venice.jpeg">
</div>

<div class="leftnav">
	<p><a href="http://www.google.com/"><i class="material-icons">language</i></p>
	<p><a href="http://www.google.com/"><i class="material-icons">sort_by_alpha</i></p>
	<p><a href="http://www.google.com/"><i class="material-icons">account_circle</i></p>
	<p><a href="http://www.google.com/"><i class="material-icons">manage_accounts</i></p>
	<p><a href="#"><i class="material-icons">voice_over_off</i></p>
	<p><a href="#"><i class="material-icons">group</i></p>
	<p><a href="#"><i class="material-icons">question_answer</i></p>
	<p><a href="#"><i class="material-icons">help_center</i></p>
	<p><a href="#"><i class="material-icons">input</i></p>
</div>

	<h3><a href="#">Let's have a fantastic trip!</a></h3>
<div class="city">
	<a href="http://www.google.com/"><img src="beijing.jpeg"></img></a>
	<a href="http://www.google.com/"><img src="tokyo.jpeg"></img></a>
	<a href="http://www.google.com/"><img src="paris.jpeg"></img></a>
	<a href="http://www.google.com/"><img src="newyork.jpeg"></img></a>
</div>

<div class="myjournal">
	<h3><a href="editor.html">My &ensp;Journal -- Blog Editor</a></h3>
	<h5>TOKYO</h5>
	<h4><a href="http://www.google.com/">My first trip in Tokyo. Is April a good time to visit Tokyo?</a></h4>
	<p>Cherry blossoms are a top highlight of Tokyo in early April. Hugely popular events include Ueno Park's Ueno Sakura Matsuri and the Nakameguro Cherry Blossom Festival held along the Megurogawa River in Nakameguro. There's also Sumida Park Sakura Festival and Chiyoda Cherry Blossom Festival which takes place along the Chidorigafuchi walkway to the west of the Imperial Palace. Petals dance in the air as they fall like snow, and float on the surface of rivers, creating quintessential spring scenes.</p>
	<h6>04/04/2016</h6>
	<h6>22 COMMENTS</h6>
	<hr>
	<h5><span th:text="${title}"></span></h5>
	<h4><a href="http://www.google.com/"><span th:text="${introduction}"></span></a></h4>
	<p><span th:text="contents"></span></p>
	<hr>
</div>


</body>	

</html>