<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="loginstyle.css">
	<link rel="stylesheet" 
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
	<form class="box2" action="/register" method="post">
		<h1>User Register</h1>
		<div class="inputbox">

			<div class="text">
				<span class="material-icons">account_circle</span>
				<input type="text" placeholder="User name" name="username" required>
			</div>

			<div class="text">
				<span class="material-icons">lock</span>
				<input type="password" placeholder="Password" name="password" required>
			</div>

			<div class="text">
				<span class="material-icons">lock</span>
				<input type="password" placeholder="Password Again" name="password_again" required>
			</div>

			<div class="check">
				<select multiple class="form-control">
					<option>USER PROTOCOL</option>
					<option>1.Please visit the Blog User Agreement for more information.</option>
					<option>2.By authorizing you accept the terms of the User Agreement/</option>
					<option>3.Blog account usage specification and user agreement.</option>
					<option>4.Use of this website constitutes acceptance of Blog's User Agreement and Privacy Policy.</option>
					<option>5.I have read the User Agreement and wish to watch the tutorial.</option>
					<option>6.Start trial means you agree and will follow Blog User agreement.</option>
				</select>
			</div>

			<div class="checkbox">
				<label>
					<input type="checkbox" value="">I agree.
				</label>
			</div>
			<div class="checkboxdisabled">
				<label>
					<input type="checkbox" value="" disabled>I don't agree.
				</label>
			</div>

			<div>
				<input class = "sign" type="submit" value="Register">
			</div>

			<div class="register">
				Already have an account? <a href="/">Login</a>
			</div>

		</div>
		
	</form>
</body>
</html>